.header{
    background: #e8f2ff;
    padding: 1rem;
}
.movie-card{
    width: 240px;
}
.movie-img-section{
    width: 240px;
    height: 340px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}
.movie-img{
    object-fit: cover;
    width: 240px;
    height: 340px;
        transition: transform 0.5s ease;
}
.movie-img-section .movie-img:hover{
 transform: scale(1.2);
}
.rating-detail{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
}
.spinner-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wid-350{
    width: 350px;
}
.heading-sepration h5{
    margin: 20px 0;
}

.sepration-sym{
        margin-left: 1em;
}
.wishlist-color{
    border-color: transparent;
    background-color: transparent;
}